.setting{
    background-color: rgb(183, 194, 190);
    text-align: center;
    border-radius: 25px;
    padding: 40px;
    margin: auto;
}
.rotate{
    animation: rotate 3s infinite linear;
}
.robot-marquee {
  display: inline-block;
  animation: moveRobot 5s linear infinite alternate;
}
.robot-jump {
  display: inline-block;
  animation: jump 1s ease-in-out infinite;
}
@keyframes jump {
  0%, 100% { transform: translateY(0); }   /* Start and end at original position */
  50% { transform: translateY(-20px); }    /* Jump 20px up at midpoint */
}